body {

    .heading-level {
  display: none !important;
}
    h1::before {
  display: none !important;
  content: "" !important;
}
    h2::before {
  display: none !important;
  content: "" !important;
}
    h3::before {
  display: none !important;
  content: "" !important;
}
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

body {
    --file-line-width: 900px; /* Adjust this value to your preferred width */
}
.markdown-source-view.mod-cm6.readable-line-width .cm-content {
    max-width: var(--file-line-width);
}
