body {

    .heading-level {
  display: none !important;
}
    h1::before {
  display: none !important;
  content: "" !important;
}
    h2::before {
  display: none !important;
  content: "" !important;
}
    h3::before {
  display: none !important;
  content: "" !important;
}
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.markdown-preview-view p,
.markdown-source-view .cm-content,
.markdown-reading-view {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
}
